:root {
  --code-font: monospace;
}

html {}

body {
  color: white;
  background-color: rgb(25, 26, 41);
}

header {
  border-radius: 2px;
  border-color: black;
}
header > #burger {}
header > #burger.open {}
header > #profile {}
/* TODO: create transition here */
header > #profile.open {}

footer {}

#view {}
#view > div {}

.text {}

.code-input, pre > .code-output {
  margin: 10px;
  padding: 10px;
}
.code {
  width: 500px;
  height: 500px;
  position: relative;
}
.code-input, pre > .code-output {
  tab-size: 4;
  border: 0;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  white-space: pre;
}
.code-input:focus {
  outline: none;
  border: 0;
}
.code-input, .code-output, .code-output * {
  font-family: var(--code-font);
  font-size: 13pt;
  line-height: 15pt;
}
.code-output, .code-output * {
  margin: 0;
  padding: 0;
}
.code-input {
  resize: none;
  color: rgba(255, 255, 255, 0.3);
  background: transparent;
  caret-color: white;
  z-index: 1;
}
.code-output {
  width: 100%;
  height: 100%;
  z-index: 0;
}
